<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <hr />
    <footer>
        @RenderSection("footer", required: false)
    </footer>
    <hr />
    <div>
        Time:@DateTime.Now
    </div>
</body>
</html>
