@model OdeToFood.ViewModels.HomeIndexViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Hello </h1>
    <div>@Model.CurrentMessage </div>

    <table>
        @foreach(var restaurant in Model.Restaurants) {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
        </tr>
        }
    </table>
</body>
</html>
